*~
REVISION
log/*
tmp/*
db/*.sqlite3
.DS_Store
./**/.DS_Store
Capfile
*.tmproj
.idea/
.idea/**
public/cache
public/2*
public/cache/**
public/articles/**
public/assets
public/external_articles/**
public/feed/**
public/index.html
public/posts.rss
public/system
public/javascripts/all.js
public/stylesheets/all.css
public/*.rss
