<h3 class="entry-title"><%= post.header %></h3>

<%= render :partial => 'posts/date', :locals => {:post => post} %>

<blockquote>
  <%= h post.content -%>
</blockquote>
<cite>
  &#x2010; <%= h post.cite %>
</cite>
