<h3 class="entry-title"><%= spanned_link "Tweet: #{post.header}", post.permalink %></h3>

<%= render :partial => 'posts/date', :locals => {:post => post}%>

<blockquote>
  <% cache(post.permalink) do -%>
  <%= twitterize(post.content) %>
  <% end -%>
</blockquote>
<cite>
  &#x2010; Posted via <%= link_to 'Twitter', post.permalink %> 
</cite>